---
layout: default
title: 2023 Board of Directors Election
description: Election Begins September 9th, Candidate Statements Available Now
image: https://cdn.sfpride.org/tmp/2022-Board-Nominations.png
permalink: /election/
---

<div class="row row-cols-1 row-cols-md-3">
    <div class="col">
        <h1>{{page.title}}</h1>
    </div>

    <div class="col">
        <div class="btn-group">
        <a href="/es/election/" class="btn btn-sm btn-info text-light d-none d-lg-inline-block">Disponible en Español</a>
        <a href="/es/elelction/" class="btn btn-sm btn-info text-light d-lg-none">Disponible en Español</a>
            <a href="#candidate-list-2" class="btn btn-sm btn-outline-primary d-none d-lg-inline-block">go to candidate statements</a>
            <a href="#candidate-list" class="btn btn-sm btn-outline-primary d-lg-none">go to candidate statements</a>
        </div>
    </div>
</div>

<!-- <section id="2023-election-results">
    <div class="row p-2 mb-5 rounded">
        <div class="col-10 col-sm-5 mx-auto card p-2 shadow">
            <p>From 188 eligible voters, <strong>85</strong> votes were cast in this election.</p>
            <p>Those candidates receiving <strong>43 or more votes</strong> were elected.<br> <em>(43 is 50% + 1 of the
                    85 ballots counted)</em></p>
            <ol>
                <li><strong>Robert Louie</strong>, <em>with 61 votes</em></li>
                <li><strong>Anjali Rimi</strong>, <em>with 54 votes</em></li>
                <li><strong>Linda Martley-Jordan</strong>, <em>with 53 votes</em></li>
                <li><strong>George Smith III</strong>, <em>with 46 votes</em></li>
            </ol>
            <p>The selected theme is <strong>Looking Back and Moving Forward</strong>, and the calendar of meeting dates was <strong>approved.</strong></p>
            <p>Verify the <a href="https://vote.electionrunner.com/election/OgghX/results" target="_blank" rel="noopener noreferrer">election results</a> on Election Runner.</p>
        </div>
    </div>
</section> -->

<hr>

<section id="procedure">

    <div class="row">
        <div class="col">
            <p>As we have for the last 3 years, SF Pride will conduct the Board Election separately from the Annual General Meeting, utilizing <span class="fw-bold">Election Runner</span> for an online election. (This process is outlined in the by-laws under "<a href="https://cdn.sfpride.org/docs/BYLAWS-POLICIES_SFPride_010220-1.pdf#page=9">action by written ballot without a meeting</a>.") Voting online saves <em>time & money</em> and enables SF Pride to better support members who require accommodations to participate.</p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <h3>Nominations</h3>
            <p>Nominations opened at the July membership meeting &mdash; verbal and written nominations from members in good standing were accepted. Nominations closed at the August membership meeting.</p>
            <ul>
                <li>Candidates may neither nominate themselves nor second their own nominations.</li>
                <li>Nominations open at the July membership meeting &mdash; verbal and written nominations from members in good standing were accepted.</li>
                <li>Nominations closed at the August membership meeting.</li>
            </ul>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3>Open Seats</h3>
                    <p>There are currently three (3) seats on the Board of Directors open for election for a 2023-26 term. Seven candidates are running. A candidate will need to receive a majority vote (50%+1) of the votes cast) in order to be elected to a seat on the Board.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Voter Eligibility</h3>
                    <p>To vote, you must be a member in good standing of SF Pride and have become a member or renewed no later than July 11,
                        2023. A <em>member in good standing</em> is one who has paid current dues and whose membership has not been suspended for any reason.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <h3>A Guide to the Voting Process</h3>
            <p>Eligible voting members may cast their ballots any time during the voting period, which will run from
                <b>Saturday, Sept. 9 to Tuesday, Sept. 12.</b> The voting period is open for 72 hours, from Noon
                Saturday to Noon Tuesday.</p>
            <p>When the voting period opens, eligible voters will receive a voting code and voter key by email. This
                will contain all the information needed to participate in the 2023 San Francisco LGBT Pride Parade and
                Celebration Committee Board of Directors Election.</p>
            <p>Members shall cast their votes by indicating their choices on the electronic ballot. You may vote for as
                few or as many candidates as you like.</p>
            <p>Candidates who receive the highest simple majority votes (50% + 1) will fill the open seats in the order
                according to the numbers of votes they reached.</p>
            <p>The election will be valid only if the number of ballots cast is equal to or greater than a quorum
                (one-third of SF Pride's total active membership as of the election date.) The number of ballots
                required will be noted on the ballot itself.</p>
            <p class="fw-bold">There are 258 eligible voters, and so at least 86 votes must be cast for the election to be quorate.</p>
            <p>A voting member must: </p>
            <ul>
                <li>Receive their voting code and voter key via email.</li>
                <li>Log into the electronic ballot link provided, using the code and key issued.</li>
                <li>Select their choices on the electronic ballot.</li>
                <li>Check and confirm their votes, then send the ballot in.</li>
            </ul>
            <p>Only a voting member in good standing may cast their vote.</p>
        </div>
        <div class="col">
            <h3>Candidate Statements</h3>
            <p>Candidates for the Board are encouraged, but not required, to submit a written statement in support of
                their candidacy. Statements and opinions expressed by the candidates do not necessarily reflect the
                views of SF Pride.</p>
            <h3>Lost Ballot Information</h3>
            <p>If you did not get a voter ID or voter key, or did not receive a link to the ballot, you may email us at
                membership@sfpride.org or call us at +1 (415) 864-0831 to request a new one. As stated above, only one voter code and key will be issued per eligible member,
                and the staff team will verify each request for reissue.</p>
        </div>
    </div>

    <hr class="text-info p-1 rounded">

    <div id="timeline" class="row">
        <h2>Election Timeline</h2>
        <div class="col">
            <table class="table table-sm">
                <thead>
                    <th scope="col" style="width: 25%;">Date(s)</th>
                    <th scope="col">Action(s)</th>
                </thead>
                <tbody class="">
                    <tr scope="row" class="text-muted">
                        <td>July 11th</td>
                        <td>
                            <p><b>Date of Record</b><br>Members must have been in good standing by this date in order to
                                vote in this election.</p>
                            <p class="small"><em>Associate members still in their 60 day probationary period do not yet
                                    have voting rights.</em></p>
                        </td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>July 12th to Aug 9th</td>
                        <td>
                            <p><b>Nomination Period</b></p>
                            <p>Nominations begin at the July membership meeting, and close at the August membership meeting.</p>
                            <p>Board members running for a second term must announce their intent to run by the August membership meeting.</p>
                        </td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>August 9th</td>
                        <td>Members select election officials at the Membership Meeting.</td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>August 20th</td>
                        <td>20 Day Notice of AGM and Election</td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>August 25th</td>
                        <td>15 Day Deadline for Candidate Statements</td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>August 31st</td>
                        <td>
                            <p>Candidate statements available online.</p>
                        </td>
                    </tr>
                    <tr scope="row">
                        <td>September 9th</td>
                        <td>Ballot created in ElectionRunner and reviewed with Election Officials</td>
                    </tr>
                    <tr scope="row" class="">
                        <td>Sept 9th to 12th</td>
                        <td>
                            <p><b>Voting Period</b><br>Election opens the afternoon of the 9th and remains open for 72
                                hours. </p>
                        </td>
                    </tr>
                    <tr scope="row">
                        <td>Sept 9th</td>
                        <td><b>Annual General Meeting</b><br> Members have the opportunity to hear the candidates speak, and to ask them questions, at the AGM on the 9th.</td>
                    </tr>
                    <tr scope="row" class="">
                        <td>Sept 12th</td>
                        <td>Election results reviewed with Election Officials and announced.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-sm-5">
            <div class="row">
                <div class="col">
                    <h3 class="border-bottom">In-Person Voting</h3>
                    <p>For those members who do not have Internet access, a computer for casting their vote can be made available at the SF Pride Offices at
                        <u>1663 Mission Street, Suite 305, San Francisco, CA</u> by appointment during the 72 hour
                        voting period.</p>
                    <p>Please contact <a href="mailto:membership@sfpride.org">membership@sfpride.org</a> for
                        arrangements.</p>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="border-bottom">Election Officials</h3>
                    <ul>
                        <li>Election Inspectors
                            <ol>
                                <li>Suzanne Ford, Executive Director</li>
                                <li>Chris Grafton, Deputy Executive Director</li>
                                <!-- <li>Marsha H. Levine, Community Relations Manager</li> -->
                            </ol>
                        </li>
                        <li>Election Observers
                            <ol>
                                <li>TBD</li>
                                <li>TBD</li>
                                <li>TBD</li>
                                <!-- <li>George Ridgely, member</li>
                                <li>Fred Lopez, member</li>
                                <li>Jokie X. Wilson, member</li> -->
                            </ol>
                        </li>
                    </ul>
                    <p>The election officers will meet on the morning of August 9th, 2023 to verify the <em>electionrunner.com</em> setup and launch the election. This meeting is  <a href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_M2E1MTY1ZDYtZDZjNC00ZjRkLWE2YWQtZjAxMDNlZDM1M2Q3%40thread.v2/0?context=%7b%22Tid%22%3a%220e108091-b168-493b-a91e-0d10217528ef%22%2c%22Oid%22%3a%227efb18fe-d425-41f9-87b4-34edbf2efd3a%22%7d">open to the public</a>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="border-bottom">Accommodations</h3>
                    <p>To request ASL interpretation for the AGM, please email us at <a href="mailto:chris@sfpride.org">chris@sfpride.org</a> by Wednesday, Sept. 6.</p>
                    <p><em>Los materiales de la reunión se prepararán en español.</em></p>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="how-to-vote" class="row row-cols-1 row-cols-md-3 justify-content-evenly">

    <div class="col">
        <h1>How to Vote:</h1>
        <p>You will receive an email invitation to vote that includes:</p>
        <ul>
            <li>a Voter ID</li>
            <li>a Voter Key</li>
            <li>a link to the election page</li>
        </ul>
        <p>See the example image provided.</p>
        <p>You will receive an email invitation to vote that includes a <b>Voter ID</b>, <b>Voter Key</b>, and a link to click to take you to the election page.</p>
        <p>Once you have received your invitation to vote:</p>
        <ol>
            <li>Click the link in your invitation email.</li>
            <li>Review the candidate statements.</li>
            <li>Select as many or as few candidates as you prefer.</li>
            <li>Click "Cast Vote".</li>
        </ol>
        <p><strong>Each member in good standing is allowed to vote once.</strong></p>
    </div>
    <div class="col">
        <img class="img-thumbnail" src="https://storage.googleapis.com/sfpride/m/election/2021/electionrunner-invite.png" alt="" onclick="img_box(this)">
        <p class="text-danger text-center">EXAMPLE EMAIL INVITATION TO VOTE</p>
    </div>
</section>

<hr>

<div class="row my-3 d-none d-lg-flex">
    <div class="col col-md-7">
        <div id="candidate-list-2">
            <h3>Candidates:</h3>
            <ol>
                {% for candidate in site.data.bod-candidates-2023 %}
                <li> <a href="#{{candidate.id}}-2">{{candidate.name}}</a> <em>{{candidate.inc}}</em></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="col col-12 col-md-5">
        <picture>
            <source type="image/webp" srcset="https://cdn.sfpride.org/m/election/2023/board_attendance.webp">
            <source type="image/png" srcset="https://cdn.sfpride.org/m/election/2023/board_attendance.png">
            <img class="img-fluid" src="https://cdn.sfpride.org/m/election/2023/board_attendance.png" alt="a chart showing board member attendance at board meetings for the past year" onclick="img_box(this)">
        </picture>
    </div>
</div>

<div class="row my-3 d-lg-none">
    <div class="col col-md-7">
        <div id="candidate-list">
            <h3>Candidates:</h3>
            <ol>
                {% for candidate in site.data.bod-candidates-2023 %}
                <li> <a href="#{{candidate.id}}">{{candidate.name}}</a> <em>{{candidate.inc}}</em></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="col col-12 col-md-5">
        <img class="img-fluid" src="https://storage.googleapis.com/sfpride/m/election/2023/board_attendance.png" alt="a chart showing board member attendance at board meetings for the past year" onclick="img_box(this)">
    </div>
</div>

<section id="candidate-statements" class="d-lg-none">
    <div class="row row-cols-1 g-3">
        {% for candidate in site.data.bod-candidates-2023 %}
        <div class="col">
            <div id="{{candidate.id}}" class="card">
                {% if candidate.image != blank?%}
                <picture>
                    <source type="image/webp" srcset="https://cdn.sfpride.org/m/election/2023/{{candidate.id}}.webp">
                    <source type="image/png" srcset="https://cdn.sfpride.org/m/election/2023/{{candidate.id}}.png">
                    <img src="https://cdn.sfpride.org/m/election/2023/{{candidate.id}}.webp" alt="photo of {{candidate.name}}" class="img-fluid">
                </picture>
                {% endif %}
                {% if candidate.image == blank?%}
                <picture>
                    <source type="image/webp" srcset="https://cdn.sfpride.org/m/election/nophotoprovided.webp">
                    <source type="image/png" srcset="https://cdn.sfpride.org/m/election/nophotoprovided.png">
                    <img src="https://cdn.sfpride.org/m/election/nophotoprovided.png" alt="photo of {{candidate.name}}" class="img-fluid">
                </picture>
                {% endif %}
                <div class="card-header">
                    <h5 class="card-title">{{candidate.name}}</h5>
                    <h6 class="card-subtitle text-muted">{{candidate.pronouns}}</h6>
                    <div>{% if candidate.inc != blank? %} {{candidate.inc}} {% endif %}</div>
                </div>
                <div class="card-body">
                    <div>{{candidate.int | textilize}}</div>
                    {%if candidate.bio != blank?%}<div class="alert alert-secondary">{{candidate.bio | textilize}}</div>{% endif%}
                    {% if candidate.bio == blank? and candidate.int == blank? %}
                    <!-- <p class="card-text text-center"><em>No Candidate Information Provided</em></p> -->
                    <p class="card-text text-center"><em>No Candidate Information Available</em></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section id="candidate-statements" class="d-none d-lg-grid">
    {% for candidate in site.data.bod-candidates-2023 %}
    <div id="{{candidate.id}}-2" class="row my-2">
        <div class="col col-2 align-content-center">
            {% if candidate.image != blank? %}
            <picture>
                <source type="image/webp" srcset="https://cdn.sfpride.org/m/election/2023/{{candidate.id}}.webp">
                <source type="image/png" srcset="https://cdn.sfpride.org/m/election/2023/{{candidate.id}}.png">
                <img src="https://cdn.sfpride.org/m/election/2023/{{candidate.id}}.webp" alt="photo of {{candidate.name}}" class="img-fluid">
            </picture>
            {% endif %}
            {% if candidate.image == blank?%}
            <picture>
                <source type="image/webp" srcset="https://cdn.sfpride.org/m/election/nophotoprovided.webp">
                <source type="image/png" srcset="https://cdn.sfpride.org/m/election/nophotoprovided.png">
                <img src="https://cdn.sfpride.org/m/election/nophotoprovided.png" alt="photo of {{candidate.name}}" class="img-fluid">
            </picture>
            {% endif %}
        </div>
        <div class="col col-9">
            <h5>{{candidate.name}}</h5>
            <h6 class="text-muted">{{candidate.pronouns}} {% if candidate.inc != blank? %} {{candidate.inc}} {% endif %}</h6>
            <div>{% if candidate.int != blank? %} {{candidate.int | textilize}} {% endif %}</div>
            {%if candidate.bio != blank?%}<div class="bg-info text-light p-4 mt-2 rounded">{{candidate.bio}}</div>{%endif%}
            {% if candidate.bio == blank? and candidate.int == blank? %}
            <!-- <p class="card-text text-center"><em>No Candidate Information Provided</em></p> -->
            <p class="card-text text-center"><em>No Candidate Information Available</em></p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>
