<div class="col text-center">
        <div class="alert alert-primary">
                <h3>2023 Grand Marshal Selection Begins</h3>
                <div class="btn-group">
                        <a class="btn btn-lg btn-success text-light" href="https://docs.google.com/forms/d/e/1FAIpQLScvbzMBAw2OfLc3QrSkoW65B7mUjz0cHB-8ANcYuuLnwwdRNw/viewform">Community Grand Marshals</a>
                <a class="btn btn-lg btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSeJzHyAfLFKfDpSG4_i1k8yhbukEjC36t7cz8iMtJjjwvqTKQ/viewform">Celebrity Grand Marshal</a>
                </div>
        </div>
</div>