<div class="col col-12"><h2 class="fs-3">Announcements</h2></div>
<div class="col col-12">
    <p class="lead"><strong>DATE OF RECORD:</strong> JOIN BEFORE JULY 11TH TO VOTE AT ANNUAL GENERAL MEETING IN SEPTEMBER.</p>
</div>
<div class="col">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfYYxjd2ob4VMRs09iHcavcBqLBZ3oTpxmZpfX2M_wBYswCpw/viewform" class="btn btn-primary border border-secondary border-2">Suggest a Theme for 2024 Celebration</a>
</div>
<div class="col">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScFISoTkZCJJNmQ53QqOl_B8rft_rplgT6e7nKxanrEbOxmSA/viewform?pli=1" class="btn btn-secondary border border-primary border-2">Nominate a Candidate for Board of Directors</a>
</div>
<div class="col"><a href="https://docs.google.com/forms/d/e/1FAIpQLSf3mv-U9shWSeOxjXfUuR9tdxl_opMHpugNBZX79il3ktDH5g/viewform" class="btn btn-success border-warning border border-2">Vote for "Best Overall" Parade Contingent</a></div>