<section id="announcements">
    <div class="col text-center">
        <div class="alert alert-danger">
            <h4 class="card-title text-uppercase">2021 Community Grand Marshal Suggestions are Open</h4>
            <p class="card-text">
                <span>Submissions accepted until February 10th Membership Meeting.</span>
                <br>
                <a class="alert-link" href="https://cdn.sfpride.org/docs/2020-sfpride-grandMarshalList-tabloid.pdf"><span class="text-capitalize">historical grand marshal and honoree list</span> (pdf)</a>

            </p>
            <a class="mx-5 mb-2 btn btn-lg btn-danger" href="https://sfpride.wufoo.com/forms/z1w2i36k14clcls/"
                role="button">Suggest a Grand Marshal</a>
        </div>
    </div>
</section>