<section id="donations" class="bg-light rounded m-0 p-2 border border-success">
    <h3>Member Donations</h3>
    <p>Through membership dues and individual donations, Members have raised <span class="text-success">$970</span> of our $5,000 yearly goal!</p>
    <div class="progress mb-2">
        <div class="progress-bar bg-success" role="progressbar" style="width: 19%" aria-valuenow="19" aria-valuemin="1" aria-valuemax="100"></div>
      </div>
      <p>The average member donates around $30 as membership dues, with the vast majority donating at the $15 and $25 levels. To reach our goal SF Pride must maintain ~170 active members.</p>
</section>