<footer class="footer small p-1 mx-2">
    <div class="row">
        <div class="col text-center">
            <span class="d-none d-sm-inline text-muted text-nowrap"><strong>San Francisco LGBT Pride Parade and Celebration Committee Inc.</strong> is an exempt organization as described in Section 501(c)(3) of the Internal Revenue Code; EIN 94-3006693</span>
            <span class="d-sm-none text-muted" style="font-size:2.4w;"><strong>San Francisco LGBT Pride Parade and Celebration Committee, Inc.</strong><br>501(c)(3) non-profit; EIN 94-3006693</span>
        </div>
    </div>
    <div class="row m-3 g-0 align-items-center justify-content-center">
        <div class="col text-start d-none d-sm-flex"><a href="mailto:support@sfpride.org">support@sfpride.org</a></div>
        <div class="col text-center m-0 p-0"><a style="font-size: .666rem;" class="btn btn-small m-0 p-1 btn-outline-primary" href="/feedback">feedback</a></div>
        <div class="col text-end"><a href="tel:+14158640831">+1 (415) 864-0831</a></div>
    </div>
</footer>
