{% for meeting in site.data.meetings %}
<section id="meeting-banner">
    <div class="row my-2">
        <div class="text-center col-11 col-md-10 mx-auto border rounded border-primary bg-light p-4">
            <h2 class="text-nowrap">{{meeting.title}}</h2>
            <p class="lead">Wednesday, {{meeting.date}} at {{meeting.time}}</p>
            <div class="text-center btn-group mb-1">
                <a class="btn btn-primary btn-lg {% if meeting.zoom-link == blank? %}disabled{% endif %}"
                    href="{{meeting.zoom-link}}" target="_blank"
                    rel="noopener noreferrer nofollow" role="button">Join Meeting</a>
                    {% if meeting.packet == blank? %}
                <a class="btn btn-outline-secondary btn-lg {% if meeting.agenda == blank? %}disabled{% endif %}"
                    href="{{meeting.agenda}}"
                    target="_blank" rel="noopener noreferrer nofollow" role="button">View Agenda</a>
                    {% endif %}
                    {% if meeting.packet != blank? %}
                <a class="btn btn-outline-secondary btn-lg"
                    href="{{meeting.packet}}"
                    target="_blank" rel="noopener noreferrer nofollow" role="button">View Agenda</a>
                    {% endif %}
            </div>
            <div id="meeting-info" class="text-muted small mb-n4">
                <p class="m-0">
                    Meeting ID: <span class="copy-me">{{meeting.zoom-id}}</span><br>
                    Join by phone: <a href="tel:+16699009128">US: +1 669 900 9128</a><br>
                    <span> <a href="https://us02web.zoom.us/u/kcttTaTUI1">Find</a> your local number</span><br>
                </p>
                <!-- <p class="m-0"><a class="btn btn-sm btn-danger m-1 p-2" href="">Add to your Calendar (.ics)</a><a class="btn btn-sm btn-info text-white m-1 p-2" href="">Add to your Google Calendar</a></p> -->
            </div>
        </div>
    </div>
</section>
{% endfor %}
