<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7 col-lg-5">
        <a class="navbar-brand" href="/">
          <img
            class="img-fluid"
            src="/assets/images/logo-HoT.png"
            alt="San Francisco Pride"
          />
        </a>
      </div>
      <div class="col d-lg-none">
        <button
          class="navbar-toggler float-end"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-menu"
          aria-controls="main-menu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
        <div class="col-12 col-lg-7">
          <div class="collapse navbar-collapse" id="main-menu">
            <ul class="navbar-nav">
              {% for link in site.data.navigation %}
              <li class="nav-item flex-fill text-end">
                <a
                class="nav-link {{link.text-class}}"
                aria-current="page"
                href="{{ link.url }}"
                >{{ link.title }}</a
                >
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
  </div>
</nav>
