<nav class="navbar navbar-expand-lg navbar-light mb-2">

  <div class="row align-items-center">

    <div class="col col-10 col-xl-5">
      <a class="navbar-brand" href="/">
        <img class="img-fluid" src="https://cdn.sfpride.org/images/logo-HoT.png" alt="San Francisco Pride" />
      </a>
    </div>

    <div class="col col-2 d-xl-none">
      <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="col col-xl-7">
      <div class="navbar-collapse collapse" id="main-menu">
        <ul class="navbar-nav w-100 nav-fill">
          <li class="nav-item"><a href="/board" class="nav-link text-primary {% if page.shortname == "Board" %} active {% endif%}">Board of Directors</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link text-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Committees</a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a href="/policies-and-procedures" class="nav-link text-primary">Policies &amp; Procedures</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="/agm" class="nav-link text-primary {% if page.shortname == "AGM" %} active {% endif%}">Annual General Meeting</a></li>
          <li class="nav-item "><a href="/election" class="nav-link text-primary {% if page.shortname == "Election" %} active {% endif%}">Board of Directors Election</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link text-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Archive</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="/2020/agm" class="nav-link text-primary">2020 AGM</a></li>
              <li class="dropdown-item"><a href="/2020/election" class="nav-link text-primary">2020 Board Election</a></li>
            </ul>
          </li>
          <li class="nav-item "><a href="https://cdn.sfpride.org/docs/BYLAWS-POLICIES_SFPride_010220-1.pdf" target="_blank" rel="noopener noreferrer" class="nav-link text-info">Governing Documents</a></li>
        </ul>
      </div>
    </div>

  </div>
  
</nav>