---
layout: default
shortname: board
title: Board of Directors
---
{% assign president = site.data.board.fy2023[0] %}
{% assign vicepresident = site.data.board.fy2023[1] %}
{% assign secretary = site.data.board.fy2023[2] %}
{% assign treasurer = site.data.board.fy2023[3] %}
<h1 id="san-francisco-lgbt-pride-board-of-directors">{{page.title}}</h1>
<section id="board-of-directors" class="bg-light rounded p-2">
    <!-- <h2 class="">2022 Board Members</h2> -->
    <div class="d-md-none">
        {% for director in site.data.board.fy2023 %}
        <div class="row mb-2">
            <div id="{{director.guid}}" class="col col-4">
                <img src="{{director.photo}}" alt="{{director.photo-alt}}" class="img-fluid rounded">
            </div>
            <div class="col">
                <p class="">
                    <strong class="text-danger">{{director.name}} <span class="text-muted small"> {{director.pronouns}}</span><br><span class="text-dark">{{director.title}}</span></strong>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row d-none d-md-flex align-items-center justify-content-evenly text-center g-3">
        {% for director in site.data.board.fy2023 %}
        <div id="{{director.guid}}" class="col col-4 col-md-3 col-xl-2 mx-auto">
            <img src="{{director.photo}}" alt="{{director.photo-alt}}" class="rounded rounded-3" style="width:100%;">
            <div class="figure-caption text-center">
                <strong class="text-danger">{{director.name}}<br>{% if director.title != blank? %}{{director.title}}; {%endif%}{{director.pronouns}}</strong>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- <div class="row bg-primary text-light m-0 py-4">
    <div class="col col-12 col-md-9 mx-auto text-center">
        <img src="https://cdn.sfpride.org/tmp/2022-board-retreat-002.jpg" alt="" class="img-fluid rounded shadow">
        <p class="m-0 mt-2">Janelle, Spring, Nguyen, Carolyn, Suzanne, Maceo, Di'ara, Joshua, Elizabeth, Manuel, (not pictured: Anjali)<br><span class="fw-bold">San Francisco Pride Board of Directors at the 2022 Board Retreat</span></p>
    </div>
</div> -->
<div class="row">
    <div class="col">
        <hr class="bg-primary py-2 rounded">
    </div>
</div>
<section class="p-2">
    <h2>2022 Board Committees</h2>
    <p>President Pham and Vice President Luster are <dfn title="as a result of one's status or position">ex officio</dfn> members of all Board Committees, aside from the Audit Committee of which the President may not be a member. <span class="d-none">Additionally, as the chairperson of the Audit committee, Vice President Pham may not serve on the Budget & Finance Committee.</span></p>
    {% assign comms = site.data.board.committees %}
    <div class="row">
        <div class="col-12 col-md-4">
            <h3>Budget and Finance</h3>
            <p>
                <b>Chair:</b> Treasurer ({{treasurer.name}})<br>
                <b>Members:</b> {{comms.bf}}<br>
                <b>Scope:</b> budget preparation and financial strategy and oversight of the corporation.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <h3>Policies and Procedures</h3>
            <p>
                <b>Chair:</b> <em class="text-decoration-underline text-muted">to be determined</em><br>
                <b>Members:</b> {{comms.pp}}<br>
                <!-- <b>Schedule:</b> Fourth Thursdays<br> -->
                <b>Scope:</b> keeping the structure of the corporation under review and the formulation, maintenance and
                enforcement of policy.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <h3>Personnel</h3>
            <p>
                <b>Chair:</b> President ({{president.name}})<br>
                <b>Members:</b> {{comms.p}}<br>
                <b>Scope:</b> monitoring the human resources strategy of the corporation.
            </p>
        </div>

        <div class="col-12 col-md-4">
            <h3>Long Range Planning</h3>
            <p>
                <b>Co-Chairs:</b> Di'ara Reid &amp; <em>Interim</em> Executive Director (Suzanne Ford)<br>
                <b>Members:</b> {{comms.lrp}}<br>
                <b>Schedule:</b> Second Wednesdays, after Membership Meeting<br>
                <b>Scope:</b> developing, monitoring and reviewing strategies for the organization, including an organizational strategic plan.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <h3>Nominating</h3>
            <p>
                <b>Co-Chairs:</b> President ({{president.name}}) &amp; Vice President ({{vicepresident.name}}) <br>
                <b>Members:</b> <i>Interim</i> Executive Director (Suzanne Ford), {{comms.n}} <br>
                <b>Scope:</b> identifying qualified candidates for the Board by devising and implementing a plan for strategic Board recruitment.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <h3>Development</h3>
            <p>
                <b>Chair:</b> </b> Di'ara Reid<br>
                <b>Members:</b> {{comms.d}}<br>
                <b>Schedule:</b> Third Tuesdays, 6pm<br>
                <b>Scope:</b> identifying new funding opportunities for the corporation.
            </p>
        </div>
        <div class="col-12 col-md-6">
            <h3>Audit</h3>
            <p>
                <b>Chair:</b> </b> <em class="text-decoration-underline text-muted">to be determined</em><br>
                <b>Members:</b> {{comms.a}}<br>
                <b>Scope:</b> recommending to the Board of Directors the retention and termination of the independent
                auditor and negotiating the independent auditor's compensation.<br>
                <b>Note:</b> neither the President, Treasurer, nor any of the staff may serve on the Audit Committee, and the chairperson may not be a member of the Budget & Finance committee, nor shall members of the Budget & Finance committee constitute more than one half of the Audit committee.

            </p>
        </div>
        <div class="col-12 col-md-6">
            <h3>Community Affairs</h3>
            <p>
                <b>Co-Chairs: Di'ara Reid &amp; Joshua Smith<br>
                <b>Members: </b>{{comms.ca}}<br>
                <b>Schedule: </b>third wednesdays, 6:15pm<br>
                <b>Scope:</b>
                <ul>
                    <li>reviewing membership applications and making recommendations to the Board for the
                        acceptance/rejection of applications and for renewals.</li>
                    <li>oversees the membership program of the organization by creating and determining member benefits,
                        devising a membership card and conducting membership roadshows.</li>
                    <li>developing the organization's outreach strategy and conducting community rap sessions and
                        forums.</li>
                    <li>organization's newsletter.</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Advisory Committees</h3>
            <p>The Board may from time to time create one or more advisory committees to the
                Board of directors. These committees may consist of Board members and
                general members of San Francisco Pride in good standing.</p>
            <p>There are no advisory committees at this time.</p>
        </div>
    </div>
</section>
<hr>

<section class="row row-cols-1 d-lg-none">
    {% for board in site.data.boards-of-directors %}
    <div class="col my-2 mx-1 border border-1 border-primary rounded">
        <h3>Fiscal Year {{board.year}}</h3>
        <div class="row">
            <div class="col">
                <dl>
                    <dt># of Directors</dt>
                    <dd>{{board.number}}</dd>
                </dl>
                <dl>
                    <dt>Oficers</dt>
                    <dd>{{board.president}}, <em>President</em></dd>
                    <dd>{{board.vice}}, <em>Vice President</em></dd>
                    <dd>{{board.secretary}}, <em>Secretary</em></dd>
                    <dd>{{board.treasurer}}, <em>Treasurer</em></dd>
                </dl>
            </div>
            <div class="col">
                <dl>
                    <dt>Other Directors</dt>
                    <dd>{{board.other}}</dd>
                </dl>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<section class="d-none d-lg-block">
    <h2 id="previous-directors">Previous Boards of Directors</h2>
    <table class="table table-sm table-responsive align-middle">
        <colgroup>
            <col style="width: 5%" />
            <col style="width: 8%" />
            <col style="width: 8%" />
            <col style="width: 8%" />
            <col style="width: 8%" />
            <col style="width: 8%" />
            <col style="width: 54%" />
        </colgroup>
        <thead>
            <tr class="header">
                <th>Year</th>
                <th># of Directors</th>
                <th>President</th>
                <th>Vice President</th>
                <th>Secretary</th>
                <th>Treasurer</th>
                <th>Other Directors</th>
            </tr>
        </thead>
        <tbody>
            {% for board in site.data.boards-of-directors %}
            <tr>
                <td>{{board.year}}</td>
                <td>{{board.number}}</td>
                <td>{{board.president}}</td>
                <td>{{board.vice}}</td>
                <td>{{board.secretary}}</td>
                <td>{{board.treasurer}}</td>
                <td>{{board.other}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>