---
layout: default
shortname: board
title: Board of Directors
---
<h1 id="san-francisco-lgbt-pride-board-of-directors">{{page.title}}</h1>
<section id="board-of-directors" class="bg-light rounded">
    <h3 class="text-center">2022 Board Members</h3>
    <div class="d-lg-none">
        {% assign ttdirectors = site.data.board.twenty_twenty_two %}
        {% for director in ttdirectors %}
        <div class="row mb-2">
            <div id="{{director.id}}" class="col col-4">
                <img src="{{director.photo}}" alt="{{director.photo-alt}}" class="img-fluid rounded">
            </div>
            <div class="col">
                <p class="">
                    <strong class="text-danger">{{director.name}} <span
                            class="text-muted small">{{director.pronouns}}</span><br>{{director.title}}</strong>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row d-none d-lg-flex">
        {% assign ttdirectors = site.data.board.twenty_twenty_two %}
        {% for director in ttdirectors %}
        <div id="{{director.id}}" class="col col-4 col-lg-3 mx-auto">
            <figure class="figure">
                <img src="{{director.photo}}" alt="{{director.photo-alt}}" class="figure-img img-fluid rounded-circle">
                <figcaption class="figure-caption text-center">
                    <strong
                        class="text-danger">{{director.name}}<br>{% if director.title != blank? %}{{director.title}};
                        {%endif%}{{director.pronouns}}</strong>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</section>
<section class="p-2 d-none">
    <h3>2021 Board Committees</h3>
    <div class="row">
        <div class="col-12 col-md-4">
            <h4>Budget and Finance</h4>
            <p>
                <b>Chair:</b> Anjali Rimi<br>
                <b>Members:</b> Elizabeth Lanyon, Joshua Smith<br>
                <b>Scope:</b> budget preparation and financial strategy and oversight of the .
            </p>
        </div>
        <div class="col-12 col-md-4">
            <h4>Policies and Procedures</h4>
            <p>
                <b>Chair:</b> Manuel Perez<br>
                <b>Members:</b> Joshua Smith, Elizabeth Lanyon, Suzanne Ford<br>
                <b>Scope:</b> keeping the structure of the corporation under review and the formulation, maintenance and
                enforcement of policy.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <h4>Personnel</h4>
            <p>
                <b>Chair:</b> Carolyn Wysinger<br>
                <b>Members:</b> Joshua Smith <br>
                <b>Scope:</b> monitoring the human resources strategy of the corporation.
            </p>
        </div>

        <div class="col-12 col-md-4">
            <h4>Long Range Planning</h4>
            <p>
                <b>Co-Chairs:</b> Carolyn Wysinger, Suzanne Ford, &amp; Fred Lopez <abbr
                    title="Executive Director">(ED)</abbr><br>
                <b>Members:</b>Joshua Smith<br>
                <b>Scope:</b> identifying qualified cdeveloping, monitoring and reviewing strategies for long range
                planning for the organization, including an organizational strategic plan.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <h4>Nominating</h4>
            <p>
                <b>Co-Chairs:</b> Carolyn Wysinger &amp; Suzanne Ford <br>
                <b>Members:</b> Anajli Rimi<br>
                <b>Scope:</b> identifying qualified candidates for the board by devising and implementing a plan for
                strategic board recruitment.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <h4>Development</h4>
            <p>
                <b>Chair:</b> Elizabeth Lanyon<br>
                <b>Members:</b> Suzanne Ford, Manuel Perez, Nguyen Pham, Anjali Rimi<br>
                <b>Scope:</b> identifying new funding opportunities for the corporation.
            </p>
        </div>
        <div class="col-12 col-md-6">
            <h4>Audit</h4>
            <p>
                <b>Chair:</b> <br>
                <b>Members:</b> Nguyen Pham<br>
                <b>Scope:</b> recommending to the Board of Directors the retention and termination of the independent
                auditor and negotiating
                the independent auditor’s compensation.
            </p>
        </div>
        <div class="col-12 col-md-6">
            <h4>Community Affairs</h4>
            <p>
                <b>Chair</b> <br>
                <b>Members:</b> Joshua Smith<br>
                <b>Scope:</b>
                <ul>
                    <li>reviewing membership applications and making recommendations to the Board for the
                        acceptance/rejection of applications and for renewals.</li>
                    <li>oversees the membership program of the organization by creating and determining member benefits,
                        devising a membership card and conducting membership roadshows.</li>
                    <li>developing the organization’s outreach strategy and conducting community rap sessions and
                        forums.</li>
                    <li>organization’s newsletter.</li>
                </ul>
            </p>
        </div>
    </div>
</section>
<hr>
<section class="d-none">
    <h2 id="previous-directors">Previous Boards of Directors</h2>
    <table>
        <colgroup>
            <col style="width: 5%" />
            <col style="width: 10%" />
            <col style="width: 12%" />
            <col style="width: 12%" />
            <col style="width: 12%" />
            <col style="width: 12%" />
            <col style="width: 26%" />
        </colgroup>
        <thead>
            <tr class="header">
                <th>Year</th>
                <th># of Directors</th>
                <th>President</th>
                <th>Vice President</th>
                <th>Secretary</th>
                <th>Treasurer</th>
                <th>Other Directors</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <td>1999</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="even">
                <td>2000</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="odd">
                <td>2001</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="even">
                <td>2002</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="odd">
                <td>2003</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="even">
                <td>2004</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="odd">
                <td>2005</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="even">
                <td>2006</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="odd">
                <td>2007</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="even">
                <td>2008</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="odd">
                <td>2009</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="even">
                <td>2010</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="odd">
                <td>2011</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="even">
                <td>2012</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="odd">
                <td>2013</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="even">
                <td>2014</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="odd">
                <td>2015</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="even">
                <td>2016</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="odd">
                <td>2017</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="even">
                <td>2018</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="odd">
                <td>2019</td>
                <td># of Directors</td>
                <td>President</td>
                <td>Vice President</td>
                <td>Secretary</td>
                <td>Treasurer</td>
                <td>Other Directors</td>
            </tr>
            <tr class="even">
                <td>2020</td>
                <td>10 (2 resigned)</td>
                <td>Carolyn Wysinger</td>
                <td>Jacob Little</td>
                <td>Nguyen Pham</td>
                <td>Suzanne Ford</td>
                <td>Nikki Calma, Elizabeth Lanyon, Kerby Lynch, Manuel Perez, Anjali Rimi, Amy Sueyoshi, Alex U. Inn
                    (resigned), Bruce Beaudette (resigned)</td>
            </tr>
            <tr class="odd">
                <td>2021</td>
                <td>11</td>
                <td>Carolyn Wysinger</td>
                <td>Suzanne Ford</td>
                <td>Nguyen Pham</td>
                <td>Anjali Rimi</td>
                <td>Bivett Brackett, Elizabeth Lanyon, Manuel Perez, Joshua Smith, Kerby Lynch (resigned), Tuquan
                    Harrison (resigned), Lady Diana Oliva (resigned)</td>
            </tr>
        </tbody>
    </table>
</section>