---
layout: basic
permalink: board/list
---
<div class="container my-3">

    <div class="row fixed-top">
        <div class="col bg-dark">
            <br>
        </div>
        <div class="col bg-primary"></div>
        <div class="col bg-secondary"></div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <h4>Current Board Members</h4>
            <ol>
                {% for director in site.data.board.fy2023 %}
                <li>{{director.name}}{%if director.title != blank? %}, {{director.title}}{% endif %} {%if director.pronouns != blank? %}({{director.pronouns}}){% endif %} 
                    <span class="text-muted">{%if director.cohort != blank? %}[{{director.cohort}} - {{director.cohort | plus: 3}}]{% endif %}</span>
                    {% if director.term == 1 %}
                    <span class="badge bg-dark text-light">{{director.term}}st term</span></li>
                    {% endif %}
                    {% if director.term == 2 %}
                    <span class="badge bg-danger text-light">{{director.term}}nd term</span></li>
                    {% endif %}
                {% endfor %}
            </ol>
            <hr>
            <h4>Committees</h4>
            <span class="fw-bold">Budget and Finance:</span> {{site.data.board.committees.bf}}<br>
            <span class="fw-bold">Policies and Procedures:</span> {{site.data.board.committees.pp}}<br>
            <span class="fw-bold">Personnel:</span> {{site.data.board.committees.p}}<br>
            <span class="fw-bold">Long Range Planning:</span> {{site.data.board.committees.lrp}}<br>
            <span class="fw-bold">Nominating:</span> {{site.data.board.committees.n}}<br>
            <span class="fw-bold">Development:</span> {{site.data.board.committees.d}}<br>
            <span class="fw-bold">Audit:</span> {{site.data.board.committees.a}}<br>
            <span class="fw-bold">Community Affairs:</span> {{site.data.board.committees.ca}}
            <hr>      
        </div>
    </div>

    <div class="row fixed-bottom">
        <div class="col-12 text-center text-uppercase">
            San Francisco Pride
        </div>
        <div class="col bg-secondary">
            <br>
        </div>
        <div class="col bg-primary"></div>
        <div class="col bg-dark"></div>
    </div>
</div>