---
layout: default
shortname: 2022 Board Election
description: Las elecciones comienzan el 10 de septiembre, las declaraciones de los candidatos están disponibles ahora
title: La elección de la Junta Directiva 2022
permalink: es/election
---

<div class="row">
    <div class="col">
        <h1>{{page.title}}</h1>
    </div>

    <div class="col col-4 text-right">
        <a href="#candidate-list-2" class="btn btn-sm btn-outline-primary d-none d-lg-inline-block">declaraciones decandidatos</a>
        <a href="#candidate-list" class="btn btn-sm btn-outline-primary d-lg-none">declaraciones de candidatos</a>
    </div>
</div>

<!-- <section id="2020-election-results" class="">
    <div class="row p-2 mb-5 rounded">
        <div class="col-10 col-sm-5 mx-auto card p-2 shadow">
            <p><strong>140</strong> members voted in this election.</p>
            <p>Those candidates receiving <strong>71 or more votes</strong> were elected.<br> <em>(71 is 50% + 1 of the
                    140 ballots counted)</em></p>
            <ol>
                <li><strong>Nguyen Pham</strong>, <em>with 118 votes</em></li>
                <li><strong>Suzanne Ford</strong>, <em>with 108 votes</em></li>
                <li><strong>Manuel Alejandro Pérez</strong>, <em>with 104 votes</em></li>
                <li><strong>Carolyn Wysinger</strong>, <em>with 103 votes</em></li>
                <li><strong>Janelle Vinson</strong>, <em>with 96 votes</em></li>
                <li><strong>Maceo Persson</strong>, <em> with 96 votes</em></li>
                <li><strong>Di'ara Reid</strong>, <em>with 83 votes</em></li>
                <li><strong>Spring Collins</strong>, <em> with 81 votes</em></li>
            </ol>
        </div>
    </div>
</section> -->

<hr>

<section id="procedure">

    <div class="row">
        <div class="col">
            <p>Como hicimos en 2020 y 2021, SF Pride llevará a cabo la elección de la junta por separado de la reunión general anual, utilizando <span class="fw-bold">Election Runner</span> para una elección en línea. (Este proceso se describe en los estatutos bajo "<a href="https://cdn.sfpride.org/docs/BYLAWS-POLICIES_SFPride_010220-1.pdf#page=9">acción por votación escrita sin reunión</a>.") Votar en línea ahorra dinero y permite que SF Pride apoye mejor a los miembros que necesitan adaptaciones para participar.</p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col text-muted">
            <h3>Nominaciones</h3>
            <p>Las nominaciones se abrieron en la reunión de membresía de julio y se aceptaron nominaciones verbales o escritas de miembros con buena reputación. Las nominaciones se cerraron en la reunión de miembros de agosto.</p>
            <ul>
                <li>Los candidatos no pueden nominarse a sí mismos ni apoyar sus propias nominaciones.</li>
                <li>Las nominaciones se abrieron en la reunión de membresía de julio y se aceptaron nominaciones verbales o escritas de miembros con buena reputación.</li>
                <li>Las nominaciones se cerraron en la reunión de membresía de agosto.</li>
            </ul>
        </div>

        <div class="col">
            <h3>PUESTOS DISPONIBLES</h3>
            <p>Actualmente hay tres (3) asientos en la Junta Directiva para elegir para un período 2022-25. Se postulan cuatro candidatos. Un candidato deberá recibir una mayoría de votos (50% + 1 de los votos emitidos) para ganar un asiento en la Junta.</p>
        </div>
        <div class="col">
            <h3>ELEGIBILIDAD DEL VOTANTE</h3>
            <p>Para votar, debe ser miembro acreditado de SF Pride y haberse registrado a más tardar el 11 de julio de 2022. Un <em>miembro en regla</em> es aquel que ha pagado cuotas actuales y cuya membresía no ha sido suspendida por ningún motivo.</p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <h3>UNA GUÍA PARA EL PROCESO DE VOTACIÓN</h3>
            <p>Los miembros votantes elegibles pueden emitir su voto en cualquier momento durante el período de
                votación, que tendrá una duración de 72 horas, desde aproximadamente las 12 del mediodía del sábado 11
                de septiembre y cerrará aproximadamente a las 12 del mediodía del martes 14 de septiembre.</p>
            <p>Antes de que se abra el período de votación, los votantes elegibles recibirán un código de votación y una
                clave de votante por correo electrónico. Este contendrá toda la información necesaria para participar en
                la Elección de la Junta Directiva del Comité de Celebración y Desfile del Orgullo LGBT de San Francisco
                2022.</p>
            <p>Los miembros emitirán sus votos indicando sus elecciones en la boleta electrónica. Puede votar por tan
                pocos o tantos candidatos como guste.</p>
            <p>Los candidatos que reciban la mayoría simple más alta (50% + 1) ocuparán los puestos abiertos en el orden
                de acuerdo con el número de votos que hayan obtenido.</p>
            <p>La elección será válida solo si el número de boletas emitidas es igual o mayor que un quórum (un tercio
                del total de miembros activos de SF Pride a la fecha de la elección). El número de boletas requeridas se
                anotará en la boleta misma.</p>
            <p>Se descalificará toda boleta en la que la elección de un votante sea ininteligible para los oficiales
                electorales y/o los inspectores electorales.</p>
            <p>Un miembro con derecho a voto debe:</p>
            <ul>
                <li>Recibir su código de votación y clave de votante por correo electrónico.</li>
                <li>Iniciar sesión en el enlace de la boleta electrónica provisto, utilizando el código de votante y
                    otra clave que se les haya entregado.</li>
                <li>Seleccionar sus opciones en la boleta electrónica.</li>
                <li>Verificar y confirmar sus votos, luego enviar la boleta.</li>
            </ul>
            <em>Solo el miembro votante debe emitir su voto, ya que el código y la clave de votante solo permitirán
                emitir UN voto. No comparta su información de inicio de sesión, ya que invalidará su voto.</em>
        </div>
        <div class="col">
            <h3>DECLARACIONES DE LOS CANDIDATOS</h3>
            <p>Se anima a los candidatos a la Junta, pero no se les exige, que presenten una declaración por escrito en
                apoyo de su candidatura. Las declaraciones y opiniones expresadas por los candidatos no reflejan
                necesariamente los puntos de vista de SF Pride. Las declaraciones estarán disponibles en <a href="https://members.sfpride.org/es/election/">https://members.sfpride.org/es/election</a>.</p>
            <h3>INFORMACIÓN DE BOLETA PÉRDIDA, NECESITA ACCESO PARA VOTAR</h3>
            <p>Si no ha recibido una identificación de votante o clave de votante, o no ha recibido un enlace a la
                boleta, puede enviarnos un correo electrónico a member@sfpride.org o llamarnos al +1 (415) 864-0831 x 4
                para solicitar una nueva. De acuerdo a lo indicado anteriormente, solo se emitirá un código de votante y
                una clave por miembro elegible, y el equipo de personal verificará cada solicitud de reemisión.</p>
            <p>Si no tiene acceso regular a Internet, programe una cita para ir a la oficina de SF Pride durante el
                horario limitado el día lunes 13 de septiembre, o el martes 14 de septiembre. Cualquier miembro que vote
                en la oficina deberá usar una mascarilla o cubre bocas mientras se encuentre dentro de las
                instalaciones. El personal de Pride proporcionará desinfectante y una computadora para votar. El miembro
                deberá iniciar sesión en su correo electrónico para acceder al sitio web de las elecciones y su código
                de votación único.</p>
        </div>
    </div>

    <hr class="text-info p-1 rounded">

    <div id="timeline" class="row">
        <h2>Cronograma de elecciones</h2>
        <div class="col">
            <table class="table table-sm">
                <thead>
                    <th scope="col" style="width: 25%;">Fecha(s)</th>
                    <th scope="col">Acción(es)</th>
                </thead>
                <tbody>
                    <tr scope="row" class="text-muted">
                        <td>11 de julio</td>
                        <td>
                            <p><b>Fecha de registro</b><br>Los miembros deben haber estado al día en esta fecha para
                                poder votar en esta elección.</p>
                            <small>Los miembros asociados que aún se encuentran en su período de prueba de 60 días no
                                tienen derecho a voto.</small>
                        </td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>13 de julio al 10 de agosto</td>
                        <td>
                            <p><b>Período de nominación</b></p>
                            <p>Las nominaciones comienzan en la reunión de miembros de julio y finalizan en la reunión de miembros de agosto.</p>
                            <p>Los miembros de la junta que se postulan para un segundo mandato deben anunciar su intención de postularse antes de la reunión de membresía de agosto.</p>
                        </td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>10 de agosto</td>
                        <td>Los miembros seleccionan a los funcionarios electorales en la reunión de miembros. </td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>21 de agosto</td>
                        <td>Notificación de 20 días de AGM y elección</td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>26 de agosto</td>
                        <td>Plazo de 15 días para las declaraciones de los candidatos </td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>1ro de septiembre</td>
                        <td>
                            <p>Declaraciones de candidatos disponibles en línea, boleta creada en ElectionRunner y
                                revisada con funcionarios electorales</p>
                        </td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>10 al 13 de septiembre</td>
                        <td>
                            <p><b>Período de votación</b><br>La elección abre la tarde del día 11 y permanece abierta
                                durante 72 horas.</p>
                        </td>
                    </tr>
                    <tr scope="row">
                        <td>11 de septiembre</td>
                        <td><b>Reunión general annual (AGM)</b><br> Los miembros tienen la oportunidad de escuchar a los
                            candidatos hablar y hacerles preguntas en la AGM del día 11.</td>
                    </tr>
                    <tr scope="row" class="text-muted">
                        <td>13 de septiembre</td>
                        <td>Los resultados de las elecciones se revisaron con los funcionarios electorales y se
                            anunciaron.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-sm-5">
            <div class="row">
                <div class="col">
                    <h3 class="border-bottom">Votación en persona</h3>
                    <p>Para aquellos miembros que no tienen acceso a Internet, una computadora para emitir su voto puede
                        estar disponible en las Oficinas de SF Pride en 1663 Mission Street, Suite 560, San Francisco,
                        CA con cita previa durante el período de votación de 72 horas. </p>
                    <p>Póngase en contacto con membership@sfpride.org para los arreglos.</p>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="border-bottom">Funcionarios electorales</h3>
                    <ul>
                        <li>Inspectores electorales
                            <ol>
                                <li>Suzanne Ford, directora ejecutiva interina</li>
                                 <li>Chris Grafton, director ejecutivo adjunto</li>
                                 <li>Marsha H. Levine, Gerente de Relaciones Comunitarias</li>
                            </ol>
                        </li>
                        <li>Election Observers
                            <ol>
                                <li>George Ridgely, member</li>
                                <li>Fred Lopez, member</li>
                                <li>Jokie X. Wilson, member</li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="border-bottom">Alojamientos</h3>
                    <p>Para solicitar interpretación de ASL para la AGM, envíenos un correo electrónico a
                        member@sfpride.org antes del miércoles 8 de septiembre.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="how-to-vote" class="row row-cols-1 row-cols-md-3 justify-content-evenly">

    <div class="col">
        <h1>Cómo votar: </h1>
        <p>Recibirá una invitación para votar por correo electrónico que incluye:</p>
        <ul>
            <li>Una identificación de votante</li>
            <li>Una clave de votante</li>
            <li>Un enlace a la página de elecciones</li>
        </ul>
        <p>Vea la imagen de ejemplo proporcionada. </p>
        <p>Una vez que haya recibido su invitación a votar:</p>
        <ol>
            <li>Haga clic en el enlace de su correo electrónico de invitación.</li>
            <li>Revise las declaraciones de los candidatos.</li>
            <li>Seleccione tantos o tan pocos candidatos como prefiera. \</li>
            <li>Haga clic en "Emitir voto".</li>
        </ol>
        <p><strong>Cada miembro en pleno derecho puede votar una vez.</strong></p>
    </div>
    <div class="col">
        <img class="img-thumbnail" src="https://storage.googleapis.com/sfpride/m/election/2021/electionrunner-invite.png" alt="" onclick="img_box(this)">
        <p class="text-danger text-center">EXAMPLE EMAIL INVITATION TO VOTE</p>
    </div>
</section>

<hr>

<div class="row my-3 d-none d-lg-flex">
    <div class="col col-md-7">
        <div id="candidate-list-2">
            <h3>Candidatos:</h3>
            <ol>
                {% for candidate in site.data.bod-candidates-2022_spanish %}
                <li> <a href="#{{candidate.id}}-2">{{candidate.name}}</a> <em>{{candidate.inc}}</em></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="col col-12 col-md-5">
        <img class="img-fluid" src="https://cdn.sfpride.org/m/election/2022/board_attendance.png" alt="a chart showing board member attendance at boardmeetings for the past year" onclick="img_box(this)">
    </div>
</div>

<div class="row my-3 d-lg-none">
    <div class="col col-md-7">
        <div id="candidate-list">
            <h3>Candidatos:</h3>
            <ol>
                {% for candidate in site.data.bod-candidates-2022_spanish %}
                <li> <a href="#{{candidate.id}}">{{candidate.name}}</a> <em>{{candidate.inc}}</em></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="col col-12 col-md-5">
        <img class="img-fluid" src="https://cdn.sfpride.org/m/election/2022/board_attendance.png" alt="a chart showing board member attendance at boardmeetings for the past year" onclick="img_box(this)">
    </div>
</div>

<section id="candidate-statements" class="d-lg-none">
    <div class="row row-cols-1 g-3">
        {% for candidate in site.data.bod-candidates-2022_spanish %}
        <div class="col">
            <div id="{{candidate.id}}" class="card">
                {% if candidate.image != blank?%}<img class="card-img-top" src="{{candidate.image}}" alt="photo of {{candidate.name}}">{% endif %}
                {% if candidate.image == blank?%}<img src="https://storage.googleapis.com/sfpride/m/election/nophotoprovided.png" alt="" class="card-img-top">{% endif %}
                <div class="card-header">
                    <h5 class="card-title">{{candidate.name}}</h5>
                    <h6 class="card-subtitle text-muted">{{candidate.pronouns}}</h6>
                </div>
                <div class="card-body">
                    {{candidate.bio}}
                    {% if candidate.bio == blank? %}
                    <p class="card-text text-center"><em>No Candidate Information Provided</em></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section id="candidate-statements" class="d-none d-lg-grid">
    {% for candidate in site.data.bod-candidates-2022_spanish %}
    <div id="{{candidate.id}}-2" class="row my-2">
        <div class="col col-2 align-content-center">
            {% if candidate.image != blank? %}
            <img class="w-100" src="{{candidate.image}}" alt="photo of {{candidate.name}}">
            {% endif %}
            {% if candidate.image == blank?%}
            <img src="https://storage.googleapis.com/sfpride/m/election/nophotoprovided.png" alt="" class="img-fluid">
            {% endif %}
        </div>
        <div class="col col-9">
            <h5>{{candidate.name}}</h5>
            <h6 class="text-muted">{{candidate.pronouns}}</h6>
            {{candidate.bio}}
            {% if candidate.bio == blank? %}
            <p class="card-text text-center"><em>No Candidate Information Provided</em></p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>