---
---
//set brand color overrides\
$primary: #a54399; 
$secondary:#f45d01;
$secondary-2: #c5e6a6;
$info: #39A0ED;
$success: #26c485;
$danger: #e03616;
$warning: #Ffb20f;
$light: #FAF3E3;  
$dark: #222222;

@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{font-family: 'Montserrat', sans-serif;}
h1,h2,h3,h4,h5{font-family: 'Lato', sans-serif; font-weight: 700;}
.lato-bold{font-family: 'Lato', sans-serif; font-weight: 700;}
.montserrat{font-family: 'Montserrat', sans-serif;}

.copy-me span {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.text-purple-700{color:$purple-700;}

.proof-remove{
    color: red;

}
.proof-add{
    color: green;
}