---
---

#@import 'bootstrap';

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url('fonts/Atkinson-Hyperlegible-Regular-102.eot');
    src: url('fonts/Atkinson-Hyperlegible-Regular-102.eot#iefix') format('embedded-opentype'), url('fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'), url('fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff'), url('fonts/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'), url('fonts/Atkinson-Hyperlegible-Regular-102.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url('fonts/Atkinson-Hyperlegible-Italic-102.eot');
        src: url('fonts/Atkinson-Hyperlegible-Italic-102.eot#iefix') format('embedded-opentype'), url('fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'), url('fonts/Atkinson-Hyperlegible-Italic-102.woff') format('woff'), url('fonts/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype'), url('fonts/Atkinson-Hyperlegible-Italic-102.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url('fonts/Atkinson-Hyperlegible-Bold-102.eot');
    src: url('fonts/Atkinson-Hyperlegible-Bold-102.eot#iefix') format('embedded-opentype'), url('fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'), url('fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff'), url('fonts/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype'), url('fonts/Atkinson-Hyperlegible-Bold-102.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src: url('fonts/Atkinson-Hyperlegible-BoldItalic-102.eot');
    src: url('fonts/Atkinson-Hyperlegible-BoldItalic-102.eot#iefix') format('embedded-opentype'), url('fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'), url('fonts/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff'), url('fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype'), url('fonts/Atkinson-Hyperlegible-BoldItalic-102.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: "Atkinson-Hyperlegible", sans-serif;
}

.copy-me span {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.second-meeting {
    filter: grayscale(99%);
}

.second-meeting:hover {
    filter: blur(0px);
}

.btn-special {
    text-align: center;
    background-size: 200% auto;
    color: whitesmoke;
    box-shadow: 0 8px 10px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
}

.rainbow {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
}

.rainbow-text {
    -webkit-animation: rainbow 25s infinite;
    -ms-animation: rainbow 25s infinite;
    animation: rainbow 25s infinite;
}

@-webkit-keyframes rainbow {
    0% {
        color: orange;
    }
    10% {
        color: purple;
    }
    20% {
        color: red;
    }
    30% {
        color: CadetBlue;
    }
    40% {
        color: yellow;
    }
    50% {
        color: coral;
    }
    60% {
        color: green;
    }
    70% {
        color: cyan;
    }
    80% {
        color: DeepPink;
    }
    90% {
        color: DodgerBlue;
    }
    100% {
        color: orange;
    }
}

@-ms-keyframes rainbow {
    0% {
        color: orange;
    }
    10% {
        color: purple;
    }
    20% {
        color: red;
    }
    30% {
        color: CadetBlue;
    }
    40% {
        color: yellow;
    }
    50% {
        color: coral;
    }
    60% {
        color: green;
    }
    70% {
        color: cyan;
    }
    80% {
        color: DeepPink;
    }
    90% {
        color: DodgerBlue;
    }
    100% {
        color: orange;
    }
}

@keyframes rainbow {
    0% {
        color: orange;
    }
    10% {
        color: purple;
    }
    20% {
        color: red;
    }
    30% {
        color: CadetBlue;
    }
    40% {
        color: yellow;
    }
    50% {
        color: coral;
    }
    60% {
        color: green;
    }
    70% {
        color: cyan;
    }
    80% {
        color: DeepPink;
    }
    90% {
        color: DodgerBlue;
    }
    100% {
        color: orange;
    }
}
