---
layout: default
shortname: 2022 Board Election
title: 2022 Board of Directors Election
---

<div class="row">
    <div class="col">
        <h1>{{page.title}}</h1>
    </div>
    
    <!-- <div class="col col-2">
        <a href="/es/election/" class="btn btn-sm btn-info text-light d-none d-lg-inline-block">Disponible en Español</a>
        <a href="/es/elelction/" class="btn btn-sm btn-info text-light d-lg-none">Disponible en Español</a>
    </div>
    <div class="col col-2 text-right">
        <a href="#candidate-list-2" class="btn btn-sm btn-outline-primary d-none d-lg-inline-block">go to candidate statements</a>
        <a href="#candidate-list" class="btn btn-sm btn-outline-primary d-lg-none">go to candidate statements</a>
    </div> -->
</div>


<section id="2022-election-results" class="d-none">
    <div class="row p-2 mb-5 rounded">
        <div class="col-10 col-sm-5 mx-auto card p-2 shadow">
            <p><strong>140</strong> members voted in this election.</p>
            <p>Those candidates receiving <strong>71 or more votes</strong> were elected.<br> <em>(71 is 50% + 1 of the
                    140 ballots counted)</em></p>
            <ol>
                <li><strong>Nguyen Pham</strong>, <em>with 118 votes</em></li>
                <li><strong>Suzanne Ford</strong>, <em>with 108 votes</em></li>
                <li><strong>Manuel Alejandro Pérez</strong>, <em>with 104 votes</em></li>
                <li><strong>Carolyn Wysinger</strong>, <em>with 103 votes</em></li>
                <li><strong>Janelle Vinson</strong>, <em>with 96 votes</em></li>
                <li><strong>Maceo Persson</strong>, <em> with 96 votes</em></li>
                <li><strong>Di'ara Reid</strong>, <em>with 83 votes</em></li>
                <li><strong>Spring Collins</strong>, <em> with 81 votes</em></li>
            </ol>
            <p>Verify the <a href="https://vote.electionrunner.com/election/rKZPI/results" target="_blank" rel="noopener noreferrer">election results</a> on Election Runner.</p>
        </div>
    </div>
</section>

<hr>

<section id="procedure">

    <div class="row">
        <div class="col">
            <p>As we did in 2020 & 2021, SF Pride will conduct the Board Election separately from the Annual General Meeting, utilizing <span class="fw-bold">Election Runner</span> for an online election. (This process is outlined in
                the by-laws under "<a
                    href="https://cdn.sfpride.org/docs/BYLAWS-POLICIES_SFPride_010220-1.pdf#page=9">action by written ballot without a meeting</a>.") Voting online saves money and enables SF Pride to better support
                members who
                require accommodations to participate.</p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <h3>Nominations</h3>
            <ul>
                <li>Nominations <strong>open</strong> at the July membership meeting and may be verbal or written nominations from members in good standing.
                    <ul>
                        <li>Although not <em>required</em>, contact information is greatly appreciated so that we may confirm their acceptance.</li>
                    </ul>
                </li>
                <li>Nominations <strong>close</strong> at the August membership meeting.</li>
                <li>All members’ nominations must be seconded by another eligible member.</li>
                <li>Candidates may <strong>neither</strong> nominate themselves nor second their own nominations.</li>
            </ul>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3>Open Seats</h3>
                    <p>There are currently three (3) seats on the Board of Directors up for election for a 2022-25 term. 
                        <!-- Nine candidates are running.  -->
                        The <strong>nomination period</strong> has begun.
                        A candidate will need to receive a majority vote (50%+1 of the votes cast) in order to win a seat on the Board.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Voter Eligibility</h3>
                    <p>To vote, you must be a member in good standing of SF Pride and have registered no later than July 11,
                        2022. A <em>member in good standing</em> is one who has paid current dues and whose membership has not been suspended for any reason.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <h3>A Guide to the Voting Process</h3>
            <p>Eligible voting members may cast their ballots any time during the voting period, which will run from
                <b>Saturday, Sept. 10 to Tuesday, Sept. 13.</b> The voting period is open for 72 hours, from Noon
                Saturday to Noon Tuesday.</p>
            <p>Before the voting period opens, eligible voters will receive a voting code and voter key by email. This
                will contain all the information needed to participate in the 2022 San Francisco LGBT Pride Parade and
                Celebration Committee Board of Directors Election.</p>
            <p>Members shall cast their votes by indicating their choices on the electronic ballot. You may vote for as
                few or as many candidates as you like.</p>
            <p>Candidates who receive the highest simple majority votes (50% + 1) will fill the open seats in the order
                according to the numbers of votes they reached.</p>
            <p>The election will be valid only if the number of ballots cast is equal to or greater than a quorum
                (one-third of SF Pride’s total active membership as of the election date.) The number of ballots
                required will be noted on the ballot itself.</p>
            <p>A voting member must: </p>
            <ul>
                <li>Receive their voting code and voter key via email.</li>
                <li>Log into the electronic ballot link provided, using the code and key issued.</li>
                <li>Select their choices on the electronic ballot.</li>
                <li>Check and confirm their votes, then send the ballot in.</li>
            </ul>
            <p>Only a voting member in good standing may cast their vote.</p>
        </div>
        <div class="col">
            <h3>Candidate Statements</h3>
            <p>Candidates for the Board are encouraged, but not required, to submit a written statement in support of
                their candidacy. Statements and opinions expressed by the candidates do not necessarily reflect the
                views of SF Pride.</p>
            <h3>Lost Ballot Information</h3>
            <p>If you did not get a voter ID or voter key, or did not receive a link to the ballot, you may email us at
                membership@sfpride.org or call us at +1 (415) 864-0831 to request a new one. As stated above, only one voter code and key will be issued per eligible member,
                    and the staff team will verify each request for reissue.</p>
        </div>
    </div>

    <hr class="text-info p-1 rounded">

    <div id="timeline" class="row">
        <h2>Election Timeline</h2>
        <div class="col">
            <table class="table table-sm">
                <thead>
                    <th scope="col" style="width: 25%;">Date(s)</th>
                    <th scope="col">Action(s)</th>
                </thead>
                <tbody class="">
                    <tr scope="row" class="">
                        <td>July 11th</td>
                        <td>
                            <p><b>Date of Record</b><br>Members must have been in good standing by this date in order to
                                vote in this election.</p>
                            <p class="small"><em>Associate members still in their 60 day probationary period do not yet
                                    have voting rights.</em></p>
                        </td>
                    </tr>
                    <tr scope="row" class="">
                        <td>July 13th to Aug 10th</td>
                        <td>
                            <p><b>Nomination Period</b></p>
                            <p>Nominations begin at the July membership meeting, and close at the August membership meeting.</p>
                            <p>Board members running for a second term must announce their intent to run by the August membership meeting.</p>
                        </td>
                    </tr>
                    <tr scope="row" class="">
                        <td>August 10th</td>
                        <td>Members select election officials at the Membership Meeting.</td>
                    </tr>
                    <tr scope="row" class="">
                        <td>August 21th</td>
                        <td>20 Day Notice of AGM and Election</td>
                    </tr>
                    <tr scope="row" class="">
                        <td>August 26th</td>
                        <td>15 Day Deadline for Candidate Statements</td>
                    </tr>
                    <tr scope="row" class="">
                        <td>September 1st</td>
                        <td>
                            <p>Candidate statements available online, ballot created in ElectionRunner and reviewed with
                                Election Officials</p>
                        </td>
                    </tr>
                    <tr scope="row" class="">
                        <td>Sept 10th to 13th</td>
                        <td>
                            <p><b>Voting Period</b><br>Election opens the afternoon of the 10th and remains open for 72
                                hours. </p>
                        </td>
                    </tr>
                    <tr scope="row">
                        <td>Sept 10th</td>
                        <td><b>Annual General Meeting</b><br> Members have the opportunity to hear the candidates speak, and to ask them questions, at the AGM on the 10th.</td>
                    </tr>
                    <tr scope="row" class="">
                        <td>Sept 13th</td>
                        <td>Election results reviewed with Election Officials and announced.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-sm-5">
            <div class="row">
                <div class="col">
                    <h3 class="border-bottom">In-Person Voting</h3>
                    <p>For those members who do not have Internet access, a computer for casting their vote can be made available at the SF Pride Offices at
                        <u>1663 Mission Street, Suite 560, San Francisco, CA</u> by appointment during the 72 hour
                        voting period.</p>
                    <p>Please contact <a href="mailto:membership@sfpride.org">membership@sfpride.org</a> for
                        arrangements.</p>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="border-bottom">Election Officials</h3>
                    <ul>
                        <li>Election Inspectors
                            <ol>
                                <li>Suzanne Ford, Interim Executive Director</li>
                                <li>Chris Grafton, Deputy Executive Director</li>
                                <li>Marsha H. Levine, Community Relations Manager</li>
                            </ol>
                        </li>
                        <li>Election Observers
                            <ol>
                                <li><em>to be determined</em></li>
                                <li><em>to be determined</em></li>
                                <li><em>to be determined</em></li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="border-bottom">Accommodations</h3>
                    <p>To request ASL interpretation for the AGM, please email us at <a
                            href="mailto:membership@sfpride.org">membership@sfpride.org</a> by Wednesday, Sept. 7.</p>
                    <p><em>Los materiales de la reunión se prepararán en español.</em></p>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="how-to-vote" class="row row-cols-1 row-cols-md-3 justify-content-evenly">

    <div class="col">
        <h1>How to Vote:</h1>
        <p>You will receive an email invitation to vote that includes:</p>
        <ul>
            <li>a Voter ID</li>
            <li>a Voter Key</li>
            <li>a link to the election page</li>
        </ul>
        <p>See the example image provided.</p>
        <!-- <p>You will receive an email invitation to vote that includes a <b>Voter ID</b>, <b>Voter Key</b>, and a link to click to take you to the election page.</p> -->
        <p>Once you have received your invitation to vote:</p>
        <ol>
            <li>Click the link in your invitation email.</li>
            <li>Review the candidate statements.</li>
            <li>Select as many or as few candidates as you prefer.</li>
            <li>Click "Cast Vote".</li>
        </ol>
        <p><strong>Each member in good standing is allowed to vote once.</strong></p>
    </div>
    <div class="col">
        <img class="img-thumbnail"
            src="https://storage.googleapis.com/sfpride/m/election/2021/electionrunner-invite.png" alt=""
            onclick="img_box(this)">
        <p class="text-danger text-center">EXAMPLE EMAIL INVITATION TO VOTE</p>
    </div>
</section>

<hr>
<!-- 
<div class="row my-3 d-none d-lg-flex">
    <div class="col col-md-7">
        <div id="candidate-list-2">
            <h3>Candidates:</h3>
            <ol>
                {% for candidate in site.data.bod-candidates-2021 %}
                <li> <a href="#{{candidate.id}}-2">{{candidate.name}}</a> <em>{{candidate.inc}}</em></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="col col-12 col-md-5">
        <img class="img-fluid" src="https://storage.googleapis.com/sfpride/m/election/2021/board-attendance.png"
            alt="a chart showing board member attendance at boardmeetings for the past year" onclick="img_box(this)">
    </div>
</div>

<div class="row my-3 d-lg-none">
    <div class="col col-md-7">
        <div id="candidate-list">
            <h3>Candidates:</h3>
            <ol>
                {% for candidate in site.data.bod-candidates-2021 %}
                <li> <a href="#{{candidate.id}}">{{candidate.name}}</a> <em>{{candidate.inc}}</em></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="col col-12 col-md-5">
        <img class="img-fluid" src="https://storage.googleapis.com/sfpride/m/election/2021/board-attendance.png"
            alt="a chart showing board member attendance at boardmeetings for the past year" onclick="img_box(this)">
    </div>
</div>

<section id="candidate-statements" class="d-lg-none">
    <div class="row row-cols-1 g-3">
        {% for candidate in site.data.bod-candidates-2021 %}
        <div class="col">
            <div id="{{candidate.id}}" class="card">
                {% if candidate.image != blank?%}<img class="card-img-top" src="{{candidate.image}}"
                    alt="photo of {{candidate.name}}">{% endif %}
                {% if candidate.image == blank?%}<img
                    src="https://storage.googleapis.com/sfpride/m/election/nophotoprovided.png" alt=""
                    class="card-img-top">{% endif %}
                <div class="card-header">
                    <h5 class="card-title">{{candidate.name}}</h5>
                    <h6 class="card-subtitle text-muted">{{candidate.pronouns}}</h6>
                </div>
                <div class="card-body">
                    {{candidate.bio}}
                    {% if candidate.bio == blank? %}
                    <p class="card-text text-center"><em>No Candidate Information Provided</em></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section id="candidate-statements" class="d-none d-lg-grid">
    {% for candidate in site.data.bod-candidates-2021 %}
    <div id="{{candidate.id}}-2" class="row my-2">
        <div class="col col-2 align-content-center">
        {% if candidate.image != blank? %}
            <img class="w-100" src="{{candidate.image}}" alt="photo of {{candidate.name}}">
        {% endif %}
        {% if candidate.image == blank?%}
            <img src="https://storage.googleapis.com/sfpride/m/election/nophotoprovided.png" alt="" class="img-fluid">
        {% endif %}
        </div>
        <div class="col col-9">
            <h5>{{candidate.name}}</h5>
            <h6 class="text-muted">{{candidate.pronouns}}</h6>
            {{candidate.bio}}
            {% if candidate.bio == blank? %}
            <p class="card-text text-center"><em>No Candidate Information Provided</em></p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section> -->
